Book App

<div ng-controller="BooksCtrl">
  
  <form ng-submit="addBook()">
    <input type="text" ng-model="newBook.title" placeholder="Title">
    <input type="text" ng-model="newBook.author" placeholder="Author">
    <input type="text" ng-model="newBook.description" placeholder="Description">
    <input type="text" ng-model="newBook.isbn" placeholder="ISBN">
    <button>Add Book</button>
  </form>
    

  <ul ng-repeat="book in books">
    <!-- this is where you should put your edit form -->
    
      <span ng-hide="editing" ng-click="editing = true"><button>Edit</button></span>
      <form ng-show="editing" ng-submit="editing = false">
        <input type="text" ng-model="book.title" placeholder="Title">
        <input type="text" ng-model="book.author" placeholder="Author">
        <input type="text" ng-model="book.description" placeholder="Description">
        <input type="text" ng-model="book.isbn" placeholder="ISBN">
        <button ng-click="editBook()">Save Update</button>
      </form>
    
    <!-- use ng-show to toggle on/off with a button -->
    <li>{{book.title}} - {{book.author}}<button ng-click="deleteBook()">Delete</button></li>


  </ul>



</div>
